# Created by https://www.gitignore.io/api/code,eclipse
# Based on template from https://www.gitignore.io/?templates=code,eclipse

# Spring InitializR
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Eclipse Patch ###
# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Java annotation processor (APT)
.factorypath

